<nav class="navbar">
    <div class="left">
        <button id="mySummariesBtn" class="login-button">My Summaries</button>
    </div>
    <div class="right">
        <button id="loginBtn" class="login-button">Login</button>
        <button id="registerBtn" class="login-button">Register</button>
        <button id="logoutBtn" class="logout-button">Logout</button>
    </div>
</nav>