@{
    Layout = null;
}
@model string

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <style>
        body {
            font-family: sans-serif;
            text-align: center;
            margin-top: 100px;
        }
    </style>
</head>
<body>
<h2>Error: VPN Detected</h2>
<p>VPN use is not permitted. This action has been reported to system admin.</p>
</body>
</html>